# Ignore input data
/input/

# Ignore most of output, but some files we want to keep for demo
/output/*
!/output/tui_static.html
!/output/vega_static.html
!/output/bokeh_static.html
!/output/echarts.html

# Temporary files
.DS_Store
*.pyc
*.swp
*.swo
*~
\#*
.#*
._*

# IDE files
/.idea
/.vscode
/.cursorignore